:root {
  /* color: #ffff; */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: normal 100%/1.5 "Nanum Gothic Coding", monospace;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: #f0f8ff;
  cursor: url("../img/star-cursor.png"), auto;
  /* background-image: url("../img/fondoPpal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

body.hidden {
  visibility: hidden;
}

/* Estilos para el loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  /* Fondo blanco, puedes cambiarlo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Asegúrate de que esté por encima de todo el contenido */
  opacity: 1;
  transition: opacity 0.5s ease-out;
  /* Transición de desvanecimiento */
}

#loader.hidden {
  opacity: 0;
  pointer-events: none;
  /* Evita la interacción con el loader oculto */
}

#loader img {
  width: 50vw;
  /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
}

main {
  margin: 0 auto;
  height: 80vh;
  width: 100%;
  display: flex;
  max-height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  /* Transición de desvanecimiento */
}

main.visible {
  opacity: 1;
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 1em;
  margin-left: 0.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1vw;
  z-index: 10001;
}

.footer p {
  display: flex;
  gap: 1em;
  margin-right: 1.5em;
}

.footer a {
  width: 1.5em;
}

.footer span strong {
  font-size: 1.3vw;
}

.footer a:hover {
  font-size: 1.1rem;
  color: blue;
  text-decoration: dashed;
}

#tag-txm {
  padding-top: 0.8em;
  opacity: 0.7;
}

@keyframes textShadowBlink {
  0%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
      0 0 10px #5aeae8, 0 0 15px #5aeae8, 0 0 20px #5aeae8, 0 0 30px #5aeae8,
      0 0 40px #5aeae8, 0 0 50px #5aeae8, 0 0 60px #5aeae8, 0 0 70px #5aeae8,
      0 0 80px #5aeae8, 0 0 120px #5aeae8, 0 0 150px #5aeae8;
  }

  50% {
    text-shadow: none;
  }
}

/* Estilo para el enlace con animación de text-shadow */
#contact-info {
  animation: textShadowBlink 2s infinite;
  font-size: larger;
}

/* .tooltip {
    position: absolute;
    background-color: #b20000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    font-size: 2rem;
} */

#personaje {
  position: fixed;
  max-width: 33vw;
  top: 50%;
  padding: 3px;
  right: 0;
  transform: translate(0, -50%);
}

#personaje img {
  cursor: pointer;
}

/* #dibuSonido {
    display: block;
    max-width: 13vw;
    min-width: 30px;
    position: fixed;
    bottom: 0;
    right: 5vw;
    z-index: 5;
} */

.column-info {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* Fija el div en la pantalla */
  max-height: fit-content;
  /* Ocupa toda la altura de la ventana */
  line-height: 2rem;
  /* Espaciado entre líneas */
  min-width: 100px;
  /* Ajusta el ancho según sea necesario */
  width: fit-content;
  /* Ajusta el ancho según el tamaño mínimo del elemento interno más grande */
  max-width: 30vw;
  /* Ajusta el ancho según sea necesario */
  /* height: 100vh; */
  /* Ocupa toda la altura de la ventana */
  /* overflow-y: scroll; */
  /* Permite el desplazamiento vertical si el contenido es demasiado grande */
  /* padding: 1em; */
  /* Espaciado interno */
  z-index: 1000;
  /* Asegura que el div esté por encima de otros elementos */
}

.column-info ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  /* Ancho de la barra de desplazamiento */
}

.title {
  font-size: 2.5em;
  /* text-align: center; */
  padding-top: 1em;
}

.logo-button {
  padding: 1em 0.5em;
  min-width: 120px;
  z-index: 1000;
  max-width: 17vw;
}

.button {
    cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

#id-proyectos {
  padding: 0 2em;
  line-height: 2em;
  letter-spacing: 0.2em;
  list-style: none;
  font-size: clamp(0.9rem, 14px, 2rem);
  cursor: default;
  font-weight: 500;
  min-width: max-content;
}

#id-proyectos a:hover {
  color: blue;
  font-size: 1.1rem;
  transform: translateX(15px);
  transition: transform 0.5s ease-in-out;
}

.info-proyecto .container-proyecto {
  display: none;
}

.info-proyecto a:hover + .container-proyecto {
  display: block;
}

.info-proyecto #estoesuntesoro a {
  text-transform: uppercase;
}

.info-proyecto #eltonmix a {
  text-transform: capitalize;
}

.container-proyecto {
  font-size: 1rem;
  letter-spacing: 0.18em;
  line-height: 1.2;
  max-width: 40vw;
  /*CHEKEAR ESTOO!!*/
  /* Ajusta el ancho según sea necesario */
  /* max-height: 80vh; */
  /* Ajusta la altura según sea necesario */
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  /* Posición en la mitad de la pantalla */
  left: 50%;
  /* Posición en la mitad de la pantalla */
  transform: translate(-50%, -50%);
  /* Centra el contenedor */
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: auto; */
  /* margin-bottom: 0.5em ; */

  /* max-height: 100%; */
}

.image-container img {
  /* display: block; */
  /* height: auto; */
  /* object-fit: cover; */
  width: 27vw;
  max-width: 73%;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 70%
  );
}

.project-descrpt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: black;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3), -2px -2px 4px white;
  -webkit-backdrop-filter: blur(3px);
  /* Añade un desenfoque de 5px al fondo */
  backdrop-filter: blur(3px);
  border-radius: 1em;
  padding: 0.3em;
  /* height: 100%; */
  /* Asegúrate de que el contenedor tenga una altura definida */
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
  backdrop-filter: opacity(0.2);
  -webkit-backdrop-filter: opacity(0.2);
  background-color: rgba(255, 255, 255, 0.3);
}

/* ROPITAZZZZ */

.container-ropa {
  /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 16.66vw; */
  /* Leave space for the left column */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.draggable {
  cursor: grab;
  position: absolute;
  width: 11vw;
  max-height: auto;
  animation: shake 0.7s;
  animation-play-state: paused;
}

.draggable:hover {
  animation-play-state: running;
}

@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }

  10% {
    transform: translate(-0.5px, -1px) rotate(-0.5deg);
  }

  20% {
    transform: translate(-1.5px, 0px) rotate(0.5deg);
  }

  30% {
    transform: translate(1.5px, 1px) rotate(0deg);
  }

  40% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  50% {
    transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }

  60% {
    transform: translate(-1.5px, 0.5px) rotate(0deg);
  }

  70% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }

  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }

  90% {
    transform: translate(0.5px, 1px) rotate(0deg);
  }

  100% {
    transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}

.draggable div {
  display: none;
  justify-content: space-around;
  position: fixed;
  left: 0%;
  top: 80%;
  width: 100%;
  padding: 0 30vw 0;
  font-size: clamp(1.2rem, 18px, 3rem);
  font-weight: 400;
  color: #1d1d1d;
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.infoPrenda {
  display: none;
  opacity: 0;
  /* Comienza con opacidad 0 */
  transition: opacity 0.7s ease-in-out;
  /* Transición para el cambio de opacidad */
}

.infoPrenda span {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3), -2px -2px 4px white;
  -webkit-backdrop-filter: blur(3px);
  /* Añade un desenfoque de 5px al fondo */
  backdrop-filter: blur(3px);
  border-radius: 1em;
  padding: 0.3em;
  /* height: 100%; */
  /* Asegúrate de que el contenedor tenga una altura definida */
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
  backdrop-filter: opacity(0.2);
  -webkit-backdrop-filter: opacity(0.2);
}

.infoPrenda .precio {
  font-style: italic;
}

/*PRENDAS ORDENADAS */

#ax20 {
  top: 5vh;
  left: 30vw;
  width: 9vw;
}

#ctc18 {
  top: 9vh;
  left: 45vw;
}

#eet3 {
  top: 5vh;
  left: 60vw;
  min-width: 11vw;
}

#corel13 {
  top: 39vh;
  left: 28vw;
  width: 9vw;
}

#lbi4 {
  top: 37vh;
  left: 42vw;
  width: 8vw;
}

#nik2 {
  top: 30vh;
  left: 55vw;
}

#gigi1 {
  top: 56vh;
  left: 26vw;
  width: 9vw;
}

#em12 {
  top: 55vh;
  left: 40vw;
  width: 9vw;
}

#ju3 {
  top: 59vh;
  left: 57vw;
}

#nip10 {
  top: 80vh;
  left: 42vw;
  width: 7vw;
}

#lbi10 {
  top: 87vh;
  left: 26vw;
  width: 9vw;
}

#ctc1 {
  top: 96vh;
  left: 40vw;
  width: 12vw;
}

#ax1 {
  top: 70vh;
  left: 55vw;
  width: 9vw;
}

#ctc5 {
  top: 120vh;
  left: 25vw;
  width: 9vw;
}

#ju4 {
  top: 140vh;
  left: 56vw;
  width: 10vw;
}

#ju34 {
  top: 110vh;
  left: 59vw;
  width: 8vw;
}

#eet2 {
  top: 148vh;
  left: 29vw;
  width: 12vw;
}

#lbi1 {
  top: 148vh;
  left: 58vw;
  width: 9vw;
}

#mu4 {
  top: 165vh;
  left: 43vw;
  width: 15vw;
}

#gigi3 {
  top: 180vh;
  left: 60vw;
  width: 7vw;
}

#em7 {
  top: 183vh;
  left: 25vw;
  width: 10vw;
}

#mu5 {
  top: 200vh;
  left: 35vw;
  width: 13vw;
}

#nik7 {
  top: 211vh;
  left: 58vw;
  width: 9vw;
}

#lbi11 {
  top: 239vh;
  left: 38vw;
  width: 9vw;
}

#od1 {
  top: 225svh;
  left: 50vw;
  width: 3vw;
}

#iss5 {
  top: 240vh;
  left: 58vw;
}

#ax5 {
  top: 240vh;
  left: 26vw;
  width: 9vw;
}

#em16 {
  top: 270vh;
  left: 28vw;
  width: 8vw;
}

#mu1 {
  top: 280vh;
  left: 55vw;
}

#ctc13 {
  top: 290vh;
  left: 27vw;
}

#eet1 {
  top: 312vh;
  left: 55vw;
  width: 13vw;
}

#ctc2 {
  top: 357vh;
  left: 57vw;
}

#lbi5 {
  top: 325vh;
  left: 31vw;
  width: 8vw;
}

#em5 {
  top: 314vh;
  left: 43vw;
  width: 8vw;
}

#ax2 {
  top: 355vh;
  left: 30vw;
}

#eet6 {
  top: 357vh;
  left: 47vw;
  width: 9vw;
}

#ctc3 {
  top: 393vh;
  left: 42vw;
  width: 14vw;
}

#lbi3 {
  top: 417vh;
  left: 30vw;
}

#nik8 {
    top: 434vh;
    left: 43vw;
    width: 9vw;
}

#ax4 {
  top: 450vh;
  left: 55vw;
  width: 10vw;
}

#ax3 {
  top: 430vh;
  left: 55vw;
  width: 13vw;
}

#ax7 {
  top: 450vh;
  left: 30vw;
  width: 10vw;
}

#eet4 {
  top: 138vh;
  left: 44vw;
  width: 9vw;
}

#nip2 {
  top: 120vh;
  left: 46vw;
  width: 5vw;
}

#nip2b {
  top: 125vh;
  left: 40vw;
  width: 5vw;
}

#em17 {
  top: 255vh;
  left: 43vw;
  width: 6vw;
}

#ju38 {
  top: 285vh;
  left: 42vw;
  width: 6vw;
}

#corel1 {
  top: 470vh;
  left: 45vw;
  width: 15vw;
}

#ju37 {
  top: 213vh;
  left: 26vw;
  width: 7vw;
}

#iss1 {
  top: 510vh;
  left: 55vw;
  width: 13vw;
}

#iss2 {
  top: 400vh;
  left: 57vw;
  width: 9vw;
}

/* SEGUNDA TANDA */

#ax18 {
  top: 500vh;
  left: 30vw;
  width: 10vw;
}

#ctc10 {
  top: 525vh;
  left: 43vw;
  width: 7vw;
}

#ctc12 {
  top: 540vh;
  left: 58vw;
  width: 10vw;
}

#corel8 {
  top: 555vh;
  left: 30vw;
  width: 11vw;
}

#corel9 {
  top: 570vh;
  left: 45vw;
  width: 10vw;
}

#corel18 {
  top: 585vh;
  left: 58vw;
  width: 10vw;
}

#corel13no {
  top: 590vh;
  left: 30vw;
  width: 10vw;
}

#corel11 {
  top: 605vh;
  left: 45vw;
  width: 10vw;
}

#iss14 {
  top: 620vh;
  left: 58vw;
  width: 10vw;
}

#iss17 {
  top: 635vh;
  left: 30vw;
  width: 10vw;
}

#iss13 {
  top: 650vh;
  left: 45vw;
  width: 10vw;
}

#iss22 {
  top: 665vh;
  left: 58vw;
  width: 10vw;
}

#iss20 {
  top: 670vh;
  left: 30vw;
  width: 9vw;
}

#iss25 {
  top: 692vh;
  left: 43vw;
  width: 13vw;
}

#iss26 {
  top: 710vh;
  left: 58vw;
  width: 10vw;
}

#ju16 {
  top: 725vh;
  left: 30vw;
  width: 10vw;
}

#ju20 {
  top: 740vh;
  left: 45vw;
  width: 10vw;
}

#ju21 {
  top: 755vh;
  left: 58vw;
  width: 10vw;
}

#ju22 {
  top: 755vh;
  left: 30vw;
  width: 10vw;
}

#ju24 {
  top: 775vh;
  left: 45vw;
  width: 10vw;
}

#lbi6 {
  top: 790vh;
  left: 55vw;
  width: 13vw;
}

#lbi7 {
  top: 805vh;
  left: 30vw;
  width: 9vw;
}

#lbi8 {
  top: 818vh;
  left: 45vw;
  width: 9vw;
}

#ju5 {
  top: 835vh;
  left: 60vw;
  width: 15vw;
}

#ax6 {
  top: 850vh;
  left: 30vw;
  width: 8vw;
}

#corel3 {
  top: 865vh;
  left: 45vw;
  width: 15vw;
}

#corel5 {
  top: 880vh;
  left: 28vw;
  width: 11vw;
}

#iss6 {
  top: 895vh;
  left: 62vw;
  width: 10vw;
}

#mu3 {
  top: 900vh;
  left: 30vw;
  width: 12vw;
}

#ju2 {
  top: 912vh;
  left: 45vw;
  width: 15vw;
}

#iss3 {
  top: 923vh;
  left: 58vw;
  width: 13vw;
}

#iss4 {
  top: 930vh;
  left: 30vw;
}

#corel4 {
    top: 945vh;
    left: 45vw;
    width: 12vw;
}

#ctc4 {
    top: 960vh;
    left: 58vw;
}

#mu2 {
    top: 975vh;
    left: 30vw;
    width: 12vw;
}

#iss7 {
    top: 990vh;
    left: 45vw;
    width: 12vw;
}


/* TERCER TANDA */



/* PAGINA DE INFORMATION */

#infoWebstarz {
  position: fixed;
  max-width: 100%;
  height: auto;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  z-index: 1001;
  letter-spacing: 0.2em;
  line-height: 2;
  font-size: 1rem;
}

#infoWebstarz h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  color: white;
  -webkit-text-stroke: 1px black;
  /* Color del texto */
  animation: textShadowBlink 6s ease-in-out infinite;
}

#infoWebstarz em {
  font-style: italic;
  font-weight: 600;
}

#infoWebstarz strong {
  text-align: justify;
  text-decoration: underline;
  font-weight: 500;
}

#infoWebstarz a {
  font-weight: 600;
}

#infoWestarz a:hover {
  color: blue;
}

.arrow-button {
  padding-top: 0.8em;
  cursor: url("../img/star-cursor.png"), auto;
  max-width: 10%;
}

/* Estilos para las estrellitas */
.star {
  position: fixed;
  width: 5px;
  height: 5px;
  background-color: white;
  /* Cambiado a negro */
  border-radius: 50%;
  box-shadow: 0 0 10px grey;
  /* Cambiado a negro */
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.language-toggle {
  position: fixed;
  top: 2vh;
  right: 3vh;
  z-index: 10000;
}

.language-toggle button {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 3px;
  letter-spacing: 1.9;
  font-size: 1.5vw;
}

.language-toggle button:hover {
  color: blue;
  transform: scale(1.1);
  font-weight: 600;
}

.fa-envelope {
  font-size: 1.5rem;
}

@media screen and (max-width: 575.98px) and (orientation: portrait) {
  #personaje {
    top: 0;
    right: 0vw;
    max-width: 73vw;
    min-width: 33vw;
    transform: translateY(35vh);
  }

  .column-info {
    position: absolute;
    padding: 0 5px;
    height: fit-content;
  }

  .footer {
    font-size: 0.8rem;
    padding: 1em 1.3em 1.3em 0.8em;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .footer #contact-icons {
    display: flex;
  }

  .footer #tag-txm {
    display: none;
  }



  .footer span strong {
    font-size: 0.9rem;
  }

  .language-toggle {
    top: 1vh;
    right: 0;
    padding: 2vh;
    position: absolute;
    font-size: 0.7rem;
  }

  .language-toggle button {
    font-size: 1.3rem;
    padding: 0;
  }

  #infoWebstarz {
    font-size: 1rem;
    top: 60%;
    text-align: center;
    line-height: 1.5;
  }

  #loader {
    height: 80vh;
  }

  .logo-button {
    position: fixed;
    transition: transform 0.5s, top 0.5s, left 0.5s;
    top: 0vh;
    left: 50%;
    transform: translateX(-50%) scale(1);
    padding: 1em;
    min-width: 150px;
    width: 60vw;
    max-width: 70vw;
  }

  .container-proyecto {
    /* z-index: 10000; */
    max-width: 70vw;
  }

  #id-proyectos {
    font-size: 14px;
    padding: 7px;
    margin-top: 18vh;
    width: fit-content;
    letter-spacing: 1.3;
  }

  .container-proyecto {
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
  }

  .image-container img {
    width: 50vw;
  }


  .draggable div {
    font-size: 1rem;
    position: fixed;
  }

  .project-descrpt {
    font-size: 12px;
    /* padding: 1em; */
    width: 70vw;
  }

  /* Prendas ordenadas para Mobile */

  #eet6 {
    top: 69vh;
    left: 12vw;
    max-width: 21vw;
    width: 18vw;
  }

  #lbi11 {
    top: 88vh;
    left: 10vw;
    max-width: 29vw;
    width: 24vw;
  }

  #ju34 {
    top: 133vh;
    left: 9vw;
    max-width: 40vw;
    width: 19vw;
  }

  #lbi4 {
    top: 150vh;
    left: 12vw;
    max-width: 20vw;
    width: 20vw;
  }

  #nip10 {
    top: 104vh;
    left: 10vw;
    max-width: 30vw;
    width: 20vw;
  }

  #nik2 {
    top: 115vh;
    left: 12vw;
    max-width: 30vw;
    width: 23vw;
  }	

  #eet2 {
    top: 160vh;
    left: 10vw;
    max-width: 33vw;
    width: 33vw;
  }

  #ju3 {
    top: 181vh;
    left: 7vw;
    max-width: 33vw;
    width: 35vw;
  }

  #corel13 {
    top: 190vh;
    left: 10vw;
    max-width: 31vw;
    width: 31vw;
  }

  #ju37 {
    top: 205vh;
    left: 12vw;
    max-width: 30vw;
    width: 23vw;
  }

  #em12 {
    top: 229vh;
    left: 14vw;
    max-width: 30vw;
    width: 27vw;
  }

  #ctc1 {
    top: 250vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #ax1 {
    top: 268vh;
    left: 15vw;
    max-width: 21vw;
    width: 21vw;
  }

  #ctc5 {
    top: 289vh;
    left: 15vw;
    max-width: 18vw;
    width: 18vw;
  }

  #em5 {
    top: 304vh;
    left: 14vw;
    max-width: 20vw;
    width: 19vw;
  }

  #nik7 {
    top: 324vh;
    left: 12vw;
    max-width: 25vw;
    width: 20vw;
  }

  #nip2 {
    top: 338vh;
    left: 12vw;
    max-width: 30vw;
    width: 12vw;
  }

  #nip2b {
    top: 340vh;
    left: 26vw;
    max-width: 30vw;
    width: 12vw;
  }

  #eet1 {
    top: 347vh;
    left: 10vw;
    max-width: 35vw;
    width: 35vw;
  }

  #lbi1 {
    top: 403vh;
    left: 15vw;
    max-width: 25vw;
    width: 25vw;
  }

  #mu4 {
    top: 420vh;
    left: 7vw;
    max-width: 45vw;
    width: 40vw;
  }

  #gigi1 {
    top: 367vh;
    left: 12vw;
    max-width: 32vw;
    width: 20vw;
  }

  #ju4 {
    top: 382vh;
    left: 10vw;
    max-width: 35vw;
    width: 35vw;
  }

  #iss13 {
    top: 387vh;
    left: 12vw;
    max-width: 30vw;
    width: 27vw;
  }

  #em7 {
    top: 447vh;
    left: 10vw;
    max-width: 35vw;
    width: 30vw;
  }

  #corel1 {
    top: 900vh;
    left: 10vw;
    max-width: 35vw;
    width: 35vw;
  }

  #iss6 {
    top: 497vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #mu3 {
    top: 483vh;
    left: 10vw;
    max-width: 30vw;
    width: 30vw;
  }

  #gigi3 {
    top: 505vh;
    left: 24vw;
    max-width: 30vw;
    width: 15vw;
  }

  #od1 {
    top: 519vh;
    left: 23vw;
    max-width: 11vw;
    width: 9vw;
  }

  #iss5 {
    top: 532vh;
    left: 10vw;
    max-width: 32vw;
    width: 32vw;
  }

  #ctc18 {
    top: 558vh;
    left: 14vw;
    max-width: 30vw;
    width: 25vw;
  }

  #em17 {
    top: 572vh;
    left: 14vw;
    max-width: 30vw;
    width: 22vw;
  }

  #ax7 {
    top: 870vh;
    left: 12vw;
    max-width: 25vw;
    width: 25vw;
  }

  #ax5 {
    top: 590vh;
    left: 12vw;
    max-width: 25vw;
    width: 25vw;
  }

  #ju38 {
    top: 633vh;
    left: 15vw;
    max-width: 25vw;
    width: 18vw;
  }

  #em16 {
    top: 655vh;
    left: 12vw;
    max-width: 30vw;
    width: 25vw;
  }

  #eet4 {
    top: 608vh;
    left: 12vw;
    max-width: 30vw;
    width: 26vw;
  }

  #nik8 {
    top: 623vh;
    left: 12vw;
    max-width: 30vw;
    width: 25vw;
  }

  #lbi5 {
    top: 672vh;
    left: 13vw;
    max-width: 27vw;
    width: 27vw;
  }

  #ctc2 {
    top: 688vh;
    left: 10vw;
    max-width: 30vw;
    width: 30vw;
  }

  #lbi10 {
    top: 706vh;
    left: 12vw;
    width: 25vw;
  }

  #ax2 {
    top: 725vh;
    left: 12vw;
    max-width: 29vw;
    width: 29vw;
  }

  #mu1 {
    top: 755vh;
    left: 10vw;
    max-width: 27vw;
    width: 27vw;
  }

  #ctc3 {
    top: 774vh;
    left: 10vw;
    max-width: 39vw;
    width: 39vw;
  }

  #iss1 {
    top: 923vh;
    left: 9vw;
    max-width: 35vw;
    rotate: -2deg;
    width: 35vw;
  }

  #lbi3 {
    top: 810vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #mu5 {
    top: 825vh;
    left: 9vw;
    max-width: 40vw;
    width: 35vw;
  }

  #ax20 {
    top: 850vh;
    left: 12vw;
    max-width: 30vw;
    width: 21vw;
  }

  #ctc13 {
    top: 463vh;
    left: 10vw;
    width: 30vw;
  }

  #ju2 {
    top: 793vh;
    left: 9vw;
    max-width: 33vw;
    width: 33vw;
  }


  #ax18 {
    top: 940vh;
    left: 12vw;
    max-width: 25vw;
    width: 20vw;
  }

  #ctc10 {
    top: 959vh;
    left: 15vw;
    max-width: 20vw;
    width: 18vw;
  }

  #ctc12 {
    top: 978vh;
    left: 12vw;
    max-width: 30vw;
    width: 20vw;
  }

  #corel8 {
    top: 1000vh;
    left: 10vw;
    max-width: 37vw;
    width: 33vw;
  }

  #corel9 {
    top: 1015vh;
    left: 12vw;
    max-width: 36vw;
    width: 30vw;
  }

  #corel18 {
    top: 1030vh;
    left: 10vw;
    max-width: 35vw;
    width: 30vw;
  }

  #corel13no {
    top: 1047vh;
    left: 12vw;
    max-width: 30vw;
    width: 25vw;
  }

  #corel11 {
    top: 1065vh;
    left: 10vw;
    max-width: 30vw;
    width: 30vw;
  }

  #iss14 {
    top: 1090vh;
    left: 12vw;
    max-width: 30vw;
    width: 27vw;
  }

  #iss17 {
    top: 1105vh;
    left: 10vw;
    max-width: 30vw;
    width: 27vw;
  }

  #iss3 {
    top: 1120vh;
    left: 12vw;
    max-width: 30vw;
    width: 27vw;
  }

  #iss22 {
    top: 1135vh;
    left: 15vw;
    max-width: 30vw;
    width: 24vw;
  }

  #iss20 {
    top: 1155vh;
    left: 15vw;
    max-width: 30vw;
    width: 24vw;
  }

  #iss25 {
    top: 1185vh;
    left: 10vw;
    max-width: 40vw;
    width: 36vw;
  }

  #iss26 {
    top: 1204vh;
    left: 12vw;
    max-width: 35vw;
    width: 34vw;
  }

  #ju16 {
    top: 1230vh;
    left: 10vw;
    max-width: 40vw;
    width: 35vw;
  }

  #ju20 {
    top: 1239vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #ju21 {
    top: 1263vh;
    left: 10vw;
    max-width: 38vw;
    width: 37vw;
  }

  #ju22 {
    top: 1285vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #ju24 {
    top: 1305vh;
    left: 10vw;
    max-width: 34vw;
    width: 32vw;
  }

  #lbi6 {
    top: 1327vh;
    left:7vw;
    max-width: 40vw;
    width: 39vw;
  }

  #lbi7 {
    top: 1343vh;
    left: 12vw;
    max-width: 30vw;
    width: 26vw;
  }

  #lbi8 {
    top: 1360vh;
    left: 12vw;
    max-width: 30vw;
    width: 24vw;
  }

  #eet3 {
    top: 1385vh;
    left: 12vw;
    max-width: 24vw;
    width: 21vw;
  }

  #lbi2 {
    top: 1400vh;
    left: 10vw;
    max-width: 32vw;
    width: 32vw;
  }

  #ju1 {
    top: 1420vh;
    left: 12vw;
    max-width: 32vw;
    width: 32vw;
  }

  #ctc6 {
    top: 1437vh;
    left: 10vw;
    max-width: 30vw;
    width: 30vw;
  }
  
  #ju5 {
    top: 1460vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }	

  #iss2 {
    top: 1477vh;
    left: 10vw;
    max-width: 30vw;
    width: 25vw;
  }
  
  #ax4 {
    top: 1500vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #ax3 {
    top: 1515vh;
    left: 10vw;
    max-width: 30vw;
    width: 30vw;
  }

  #corel5 {
    top: 1530vh;
    left: 10vw;
    max-width: 30vw;
    width: 30vw;
  }

  #iss4 {
    top: 1545vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #corel4 {
    top: 1565vh;
    left: 10vw;
    max-width: 30vw;
    width: 30vw;
  }

  #corel2 {
    top: 1575vh;
    left: 12vw;
    width: 31vw;
  }

  #ctc4 {
    top: 1600vh;
    left: 12vw;
    max-width: 25vw;
    width: 25vw;
  }

  #ax6 {
    top: 1620vh;
    left: 14vw;
    max-width: 30vw;
    width: 23vw;
  }

  #corel3 {
    top: 1645vh;
    left: 12vw;
    max-width: 30vw;
    width: 30vw;
  }

  #mu2 {
    top: 1665vh;
    left: 10vw;
    max-width: 30vw;
    width: 24vw;
  }

  #iss7 {
    top: 1685vh;
    left: 12vw;
    max-width: 30vw;
    width: 20vw;
  }
}

@media (hover: none) {
  .info-proyecto a:hover + .container-proyecto {
    display: block;
  }
}

@media (hover: hover) {
  .info-proyecto a:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
}

@media screen and (min-width: 1920px) {
  .column-info {
    max-width: 20vw;
  }

  .logo-button {
    max-width: 100%;
  }

  #personaje {
    top: 50%;
    right: 0;
    padding: 2px;
    transform: translate(0, -50%);
  }

  #id-proyectos {
    max-width: 100%;
    font-size: 1.3rem;
  }

  .project-descrpt {
    font-size: 1.2rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .draggable div {
    font-size: 2rem;
  }

  .arrow-button {
    cursor: pointer;
    max-width: 10%;
  }
}
